<?xml version="1.0" endcoding="UTF-8" ?>

<configuration scan="true" scanPeriod="3 seconds">
    <statusListner class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout" >
            <pattern>
                %d{dd.MM.yy HH:mm:ss} %-5level[%thread] %logger %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D:\Projects\Java\Lesson1_4\logs\my.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy" >
            <fileNamePattern>my-%d{yyyy-MM-dd_HH}</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout" >
            <pattern>
                %d{dd.MM.yy HH:mm:ss} %-5level[%thread] %logger %msg%n
            </pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>